<h1 class="text-center">Blog de Costa Rica</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Valor de "i"</th>
      <th scope="col">Titulo</th>
      <th scope="col">Contenido</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each_index do |i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= @posts[i][:titulo] %></td>
        <td><%= "#{@posts[i][:contenido][0..50]}..." %></td>
        <td><%= link_to 'Ver más', posteo_path(i), class: 'btn btn-outline-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
